@model Amigurumis.Models.Fabricante

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Confirma a Exclusão do registro ?</h3>
<div>
    <br /><br />
    <h4 class="titulo-exclusao">Fabricante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nome:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /><br /><br /><br />
            @Html.ActionLink("Retornar para a Listagem", "Index")
        </div>
    }
</div>




